<head>
	{{!Document Settings}}
	<meta http-equiv="Content-type" content="text/html" charset="UTF-8">

	{{!Page Meta}}
	<title>{{meta_title}}</title>
	<meta name="description" content="{{meta_description}}">

	{{! Styles}}
	<link rel="stylesheet" href="/assets/css/font-awesome.min.css">
	<link rel="stylesheet" href="/assets/css/normalize.css">
	<link rel="stylesheet" href="/assets/css/style.css">
	<link rel="stylesheet" href="/assets/css/responsive.css">
	
	
	

	{{! Responsive Meta Tags }}

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	{{ghost_head}}

</head>
	
