
/*		Mobile Layout: 320px.
		Gutters: 24px.
		Outer margins: 34px.
		Inherits styles from: Default Layout.
---------------------------------------------
cols    1     2      3
px      68    160    252    */

@media only screen and (max-width: 767px) {
	.btn-canvus {
		display: block;
	}
	#sidebar {
		left: -500px;
		width: 50%;
		z-index: 99;
		overflow-y: auto;
	}
	.container {
		margin-left: 5%;
		max-width: 90%;
	}
	#sidebar .block {
		margin-top: 25px;
	}
	.btn-sidebar-canvus {
		display: block;
	}
}



/*		Wide Mobile Layout: 480px.
		Gutters: 24px.
		Outer margins: 22px.
		Inherits styles from: Default Layout, Mobile Layout.
------------------------------------------------------------
cols    1     2      3      4      5
px      68    160    252    344    436    */

@media only screen and (min-width: 480px) and (max-width: 767px) {
	
	.btn-sidebar-canvus {
		display: block;
	}

}





/*		Tablet Layout: 768px.
		Gutters: 24px.
		Outer margins: 28px.
		Inherits styles from: Default Layout.
-----------------------------------------------------------------
cols    1     2      3      4      5      6      7      8
px      68    160    252    344    436    528    620    712    */

@media only screen and (min-width: 768px) and (max-width: 991px) {
	#sidebar {
		left: -400px;
		width: 50%;
		z-index: 99;
		overflow-y: auto;
	}
	.container {
		margin-left: 15%;
		max-width: 75%;

	}
	.btn-canvus {
		display: block;
	}
	.btn-sidebar-canvus {
		display: block;
	}
	
}

